{
  "parser": "@typescript-eslint/parser",//解析器 适应不同的解析器标准
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module", 
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [//继承预定的eslint规则 此外还有Vue 项目: "plugin:vue/essential"
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "react/prop-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
    //此外还有vue版本的
    // "vue": {
    //   "templateCompilerModules": []
    // }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
